<header> {{title}} </header>

<router-outlet>
  <a routerLink="/signup">Sign-up new user</a>
  <br>
  <button (click)="login()">
    LOGIN
  </button>
</router-outlet>

<footer></footer>
<br>
<hr>

<h1> {{ title }} </h1>
<p> {{ "Welcome, " + username }} </p>
<p> {{ isLoggedIn ? username : "LOG IN" }} </p>

<button [disabled]="isDisabled()">
  Can't click Me!
</button>
<br />
<br />
<button (click)="handleOnClick($event)">
  Click!
</button>

<p> Name:
  <input [(ngModel)]="username" type="text" [disabled]="isDisabled()" [required]="!isDisabled()" minlength="4">
</p>
<button (click)="submit()">
  Submit
</button>

<p *ngIf="isLoggedIn">{{ "Welcome, " + username }}</p>

<div [ngSwitch]="components">
  <span *ngSwitchCase="1">Only one element</span>
  <span *ngSwitchCase="2">Only two elements</span>
  <span *ngSwitchDefault>More than 2 elements</span>
</div>

<ul>
  <li *ngFor="let proj of projects">
    {{ proj.name }}
  </li>
</ul>

<p>{{ birthDate | date:'fullDate' | uppercase }}</p>

<parent></parent>

<user></user>
<br>
<hr>
<reactive-form></reactive-form>